<style>.x-icon {
    width: 20px;
    height: 20px;
    display: inline-block;
    text-align: center;
    font-size: 18px;
    color: #000;
    cursor: pointer;
  }
  
  .x-icon:before {
    content: "x";
  }
</style>
  <div class="x-icon"></div>