.size-guide__container {
    margin-block: 1rem;
}
.size-guide__container img {
    max-width: 100%;
}

.stockists .tabs {
    width: 100%;
    display: block;
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: normal;
}

.stockists .tab-links {
    margin-bottom: 2rem;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    padding-inline: 1rem;
}

.stockists .tab-links li {
    flex-grow: 1;
    list-style: none;
    display: inline-block;
    margin: 0;
    transition: all 100ms ease-in-out;
}

.stockists .tab-links li.active {
    background: var(--gradient-base-accent-2);
}

.stockists .tab-links a {
    text-decoration: none;
    width: 100%;
    display: inline-block;
    text-align: center;
    padding: 10px 15px;
    color: #000;
    font-weight: 600;
    border: 1px solid #ddd;
    height: 100%;
}

.stockists .tab-links li:hover {
    box-shadow: inset 0em 0em 0em 10em rgba(0, 0, 0, 0.2);
}

.stockists .tab-links .active:hover {
    box-shadow: inset 0em 0em 0em 10em rgba(0, 0, 0, 0.2);
}

.stockists .tab-links .active a {
    color: white;
}

.stockists .tab-links a p {
    font-size: 12px;
    margin: 0;
    margin-top: 7px;
    font-weight: normal;
}
.stockists .tab {
    display: none;
}

.stockists .tab.active {
    display: block;
}

.stockists td {
    text-align: center;
    box-shadow: 0 0 4px -2px;
    border-radius: 5px;
}

.stockists table {
    border-spacing: 1em;
    border-collapse: separate !important;
    border: none;
    box-shadow: none !important;
}
.stockists td > p {
    font-size: 13px;
}
.stockists td > p:first-of-type {
    font-weight: 600;
    font-size: 15px;
}

@media screen and (max-width: 600px) {
    .stockists td {
        width: 100%;
        display: inline-block;
        margin-block: 0.5rem;
    }
    .stockists table {
        border-spacing: 0;
    }
}
